
@{
    ViewData["Title"] = "My Hobby";
}
<h1>Welcome to My Hobby Page</h1>
<img src="/images/hobby1.jpg" alt="Hobby Image 1">
<img src="/images/hobby2.jpg" alt="Hobby Image 2">
<p>This page is all about my favorite hobby...</p>
<footer>&copy; 2025 Your Name</footer>
<a href="/Home/Calculator">Go to Calculator</a>